$primaryColor : #000;
#button-company-mobile{
    display: flex;
    align-items: center;
}
.arrow-style{
    justify-content: center;
    width: 100%;
    margin-top: 35px;
    margin-left: 50px;
}
.lista-drop{
    display: none;
    font-size: 12px;
    flex-direction: column;
    position: absolute;
    margin-top: 490px;
    margin-left: 20px;
    gap: 35px;
    margin-bottom: unset !important;
}
.force-color{
    color: $primaryColor;
}
.show{
    display: flex;
    
}
.margin-force{
    margin-bottom: 405px;
}
.item-drop-company{
    color: #6b6b6b;
}
