@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    font-family: 'Helvetica Neue', sans-serif;
    list-style-type:none;
}
body{
    background-color: #fff;
}
.header-menu{
    background-color: black;
    display: flex;
    align-items: center;
    height: 64px;
    width: 100%;
    font-size: 15px;
    font-family: 'Helvetica Neue', sans-serif;
}
.menu{
    background-color: #000000;
    display: flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
}
.menu-itens{
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.menu .menu-itens .icon-menu .text-icon-menu{
    display: flex;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    margin-left: 10px;
}
.itens-menu-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}
.menu-text-login{
    color: white;
    font-size: 11px;
}
.menu-cadastre{
    padding: 0 0 0 2vh;
}
.menu-text-cadastre{
    font-size: 11px;
    padding: 11px 18px;
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    font-weight: 900;
}
.icons-list{
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 123px;
}
.nav-icon-list{
    display: flex;
    width: 100%;
    gap: 30px;
    padding-bottom: 20px;
    padding-top: 28px;
    padding-right: 12px;
    padding-left: 12px;
}
.first-icon-list, .second-icon-list, .third-icon-list{
    width: 81px;
    height: 100%;
    color: #000;
    text-align: center;
}
.fa-signal, .fa-car, .fa-key{
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 13px;
}
.first-icon-text, .second-icon-text, .third-icon-text{
    color: #000;
    font-size: 14px;
    font-weight: 500;
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
}
.menu-bar{
    display: none;
}
.content-presentation{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 2rem;
    padding-right: 1rem;
    gap: 2em;
}
.content-assuma{
    font-size: 3em;
    font-family: 'Instrument Sans', sans-serif;
}
.sub-dirija{
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
}
.button-cadastre-content{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 1rem;
}
.fa-bars{
    color: white;
}
.imagem-senhordirigindo{
    width: 100%;
    height: 100%;
    padding: none;
    z-index: 9999px;
}
.imagem-senhor{
    width: 100%;
    height: 100%;
    margin-top: 3em;
}
@media screen and (max-width: 414px) {  
    .header-menu{
        display: flex;
        padding: 12px 12px;
        height: 40px;
        width: 100%;
        height: -1%;
    }
    .menu{
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .menu-itens{
        width: 100%;
    }
    .icon-menu{
        text-align: center;
        width: 15%;
    }

    .text-icon-menu{
        padding: 0 50px 0 0;
        font-size: 20px;
        font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;;
    }
    .menu-login{
        padding: 0 0 0 6vh;
   
    }
    .menu-text-login{
        font-size: 1.5vh;
    }
    .menu-cadastre{
        padding: 0 0 0 2vh;
    }
    .menu-text-cadastre{
        font-size: 1.5vh;
        padding: 11px 18px;
        background-color: #fff;
        color: #000;
        border-radius: 30px;
        font-weight: 900;
    }
    .menu-bar{
        display: flex;
        padding: 0 0 0 0.8rem;
    }
    .fa-bars{
        width: 100%;
    }
    .itens-menu-right{
        display: flex;
        justify-content: center;
        padding-right: 15px;
    }
}

