$color_1: #000;
$color_2: #fff;
$color_3: white;
$font-family_1: "Helvetica Neue", sans-serif;
$font-family_2: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family_3: "Montserrat", sans-serif;
$font-family_4: "Instrument Sans", sans-serif;
$font-family_5: "Poppins", sans-serif;
$font-family_6: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
$background-color_1: #fff;
$background-color_2: #000;
$background-color_3: black;