@import './fonts.scss';
@import './variables';
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body {
	background-color: $background-color_1;
}
.main {
	height: 100%;
}
.header-menu {
	background-color: $background-color_2;
	display: flex;
	align-items: center;
	height: 64px;
	width: 100%;
	font-size: 15px;
	font-family: $font-family_1;
}
.menu {
	background-color: $background-color_2;
	display: flex;
	font-family: $font-family_2;
	font-size: 16px;
	height: 100%;
	width: 100%;
	.menu-itens {
		.icon-menu {
			.text-icon-menu {
				display: flex;
				width: 100%;
				color: $color_2;
				text-align: center;
				margin-left: 10px;
				gap: unset;
			}
		}
	}
}
.menu-itens {
	align-items: center;
	display: flex;
	flex-direction: row;
	width: 100%;
}
.itens-menu-left {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 30px;
	margin-left: 50px;
}
.text-menu-company {
	color: $color_3;
	font-size: 15px;
	text-align: center;
}
.text-menu-safety {
	color: $color_3;
	font-size: 15px;
	text-align: center;
}
.text-menu-help {
	color: $color_3;
	font-size: 15px;
	text-align: center;
}
.itens-menu-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 100%;
}
.menu-text-login {
	color: $color_3;
	font-size: 11px;
}
.menu-cadastre {
	padding: 0 0 0 2vh;
}
.menu-text-cadastre {
	font-size: 11px;
	padding: 11px 18px;
	background-color: $background-color_1;
	color: $color_1;
	border-radius: 30px;
	font-weight: 900;
}
.content-wrap {
	position: absolute;
	width: 100%;
}
.icons-list {
	display: flex;
	flex-direction: row;
	position: relative;
	text-align: center;
	align-items: center;
	width: 100%;
	height: 123px;
}
.nav-icon-list {
	display: flex;
	width: 100%;
	gap: 30px;
	padding-bottom: 20px;
	padding-top: 28px;
	padding-right: 12px;
	padding-left: 12px;
}
.first-icon-list {
	width: 81px;
	height: 100%;
	color: $color_1;
	text-align: center;
}
.second-icon-list {
	width: 81px;
	height: 100%;
	color: $color_1;
	text-align: center;
}
.third-icon-list {
	width: 81px;
	height: 100%;
	color: $color_1;
	text-align: center;
}
.fa-signal {
	width: 100%;
	height: 100%;
	color: $color_1;
	font-size: 13px;
}
.fa-car {
	width: 100%;
	height: 100%;
	color: $color_1;
	font-size: 13px;
}
.fa-key {
	width: 100%;
	height: 100%;
	color: $color_1;
	font-size: 13px;
}
.first-icon-text {
	color: $color_1;
	font-size: 14px;
	font-weight: 500;
	margin-top: 8px;
	font-family: $font-family_3;
}
.second-icon-text {
	color: $color_1;
	font-size: 14px;
	font-weight: 500;
	margin-top: 8px;
	font-family: $font-family_3;
}
.third-icon-text {
	color: $color_1;
	font-size: 14px;
	font-weight: 500;
	margin-top: 8px;
	font-family: $font-family_3;
}
.menu-bar {
	display: none;
}
.content-presentation {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-left: 2rem;
	padding-right: 1rem;
	gap: 2em;
}
.content-assuma {
	font-size: 3em;
	font-family: $font-family_4;
}
.sub-dirija {
	font-family: $font-family_5;
	font-size: 1.4rem;
}
.button-cadastre-content {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 8px;
	background-color: $background-color_3;
	color: $color_3;
	font-size: 1rem;
}
.description-platform {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	padding: none;
}
.imagem-senhor {
	position: relative;
	width: 100%;
	top: 480px;
}
.image-city {
	object-fit: cover;
	position: relative;
	width: 100%;
}
.imagem-senhordirigindo {
	object-fit: cover;
	position: relative;
	width: 100%;
}
.tabpanel {
	padding: 30px;
	background-color: $background-color_1;
	top: 574px;
	width: 40%;
	position: absolute;
}
.icons-wrap {
	display: flex;
}
.tab-content-wrap {
	display: flex;
	flex-direction: column;
}
@media screen and (max-width: 414px) {
	.header-menu {
		display: flex;
		padding: 12px 12px;
		height: 40px;
		width: 100%;
		height: -1%;
	}
	.menu {
		align-items: center;
		text-align: center;
		width: 100%;
	}
	.menu-itens {
		width: 100%;
	}
	.icon-menu {
		text-align: center;
		width: 15%;
	}
	.text-icon-menu {
		padding: 0 50px 0 0;
		font-size: 20px;
		font-family: $font-family_6;
	}
	.menu-login {
		padding: 0 0 0 6vh;
	}
	.menu-text-login {
		font-size: 1.5vh;
	}
	.menu-cadastre {
		padding: 0 0 0 2vh;
	}
	.menu-text-cadastre {
		font-size: 1.5vh;
		padding: 11px 18px;
		background-color: $background-color_1;
		color: $color_1;
		border-radius: 30px;
		font-weight: 900;
	}
	.menu-bar {
		display: flex;
		padding: 0 0 0 0.8rem;
	}
	.fa-bars {
		width: 100%;
		color: $color_2;
	}
	.itens-menu-right {
		display: flex;
		justify-content: center;
	}
	.itens-menu-left {
		width: 15%;
	}
	.menu-company {
		display: none;
	}
	.menu-safety {
		display: none;
	}
	.menu-help {
		display: none;
	}
}