<div class="main">
  <div class="content">
    <div class="text">
      <p>doiqwejdoiw</p>
      <p>doiqwejdoiw</p>
      <p>doiqwejdoiw</p>
      <p>doiqwejdoiw</p>
      <p>doiqwejdoiw</p>
    </div>
    <img
      class="mobile-image"
      src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_566,h_425/v1653688539/assets/ae/d8db42-6e67-4c9e-9741-1c7503a1983c/original/DotCom_Update_Earner_bg_sml2x.jpg"
    />
    <img
      class="desktop-image"
      src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_586,h_440/v1653688539/assets/ae/d8db42-6e67-4c9e-9741-1c7503a1983c/original/DotCom_Update_Earner_bg_sml2x.jpg"
    />
  </div>
</div>
