.text {
  * {
    color: black !important;
  }
}

/* Tamanhos de tela */
@media screen and (max-width: 765px) {
  .main {
    .content {
      .mobile-image {
        height: 400px; /* Ajuste de altura para dispositivos móveis conforme necessário */
        width: 100%;
      }
      .desktop-image {
        display: none;
      }
    }
  }
}

/* Estilos específicos para desktops (tamanhos de tela maiores ou iguais a 768px) */
@media screen and (min-width: 768px) {
  .main {
    .content {
      .mobile-image {
        display: none;
      }
      .desktop-image {
        width: 100%;
      }
      .text {
        margin: 64px;
        position: absolute;
        background-color: white;
        width: 300px;
        height: 300px;
        left: 10%;
        * {
          color: black !important;
        }
      }
    }
  }
}
