<main class="espaco"></main>
<section class="content-initial">
  <div class="content-box">
    <img
      src="/earner-illustra.png"
      alt="nao foi possivel carregar a imagem corretamente"
      class="image-content-initial-desktop"
    />
    <div class="texts-content-initial">
      <h1 class="title-content-initial">
        Drive when you want, make what you need
      </h1>
      <h2 class="subtitle-content-initial">
        Make money on your schedule with deliveries or rides—or both. You can
        use your own car or choose a rental through Uber.
      </h2>
      <div class="button-content-initial">
        <button class="btn-content-initial">Get Started</button>
        <li class="button-singin">
          Already have an account? Sign in
          <span class="horizontal-line"></span>
        </li>
      </div>
    </div>
    <img
      src="/earner-illustra-mobile.webp"
      alt="nao foi possivel carregar a imagem corretamente"
      class="image-content-initial-mobile"
    />
  </div>
</section>
<section class="second-content">
  <div class="second-content-box">
    <img
      src="/rideshare-square-desktop.webp"
      alt="nao foi possivel carregar a imagem corretamente"
      class="image-second-content-desktop"
    />
    <div class="texts-second-content">
      <h1 class="title-second-content">Always the ride you want</h1>
      <h2 class="subtitle-second-content">Request a ride, hop in, and go.</h2>
      <div class="inputs-second-content">
        <div class="first-input">
          <input type="text" class="inputs-boxs" placeholder="Enter location" id="first-input"/>
          <button class="svg-input">
            <svg
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              data-baseweb="icon"
            >
              <title>search</title>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm5-2a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z"
                fill="black"
              ></path>
            </svg>
          </button>
          <div class="svg-input-location">
            <svg
              width="2.5em"
              height="2.5em"
              viewBox="0 0 24 24"
              fill="none"
              tabindex="0"
              role="button"
              class="pe-location-fetch css-bOZeEP"
            >
              <title>Navigate right up</title>
              <path
                d="M10.5 13.5.5 11 21 3l-8 20.5-2.5-10Z"
                fill="black"
              ></path>
            </svg>
          </div>
        </div>
        <span class="vertical-line"></span>
        <div class="second-input">
          <input
            type="text"
            class="inputs-boxs"
            placeholder="Enter destination"
            id="second-input"
          />
          <div class="svg-input">
            <svg
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              data-baseweb="icon"
            >
              <title>search</title>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M14 10h-4v4h4v-4ZM7 7v10h10V7H7Z"
                fill="black"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <img
      src="/rideshare-square-mobile.webp"
      alt="nao foi possivel carregar a imagem corretamente"
      class="image-second-content-mobile"
    />
  </div>
</section>
<section class="third-content">
  <div class="third-content-box">
    <img
      src="/u4b-square.webp"
      alt="nao foi possivel carregar a imagem corretamente"
      class="image-third-content-desktop"
    />
    <div class="texts-third-content">
      <h1 class="title-third-content">
        The Uber you know, reimagined for business
      </h1>
      <h2 class="subtitle-third-content">
        Uber for Business is a platform for managing global rides and meals, and
        local deliveries, for companies of any size.
      </h2>
      <div class="button-third-content">
        <button class="btn-third-content btn-content-initial">
          Get Started
        </button>
        <li class="button-ckeckout">
          Check out our solutions
          <span class="horizontal-line"></span>
        </li>
      </div>
    </div>
    <img
      src="/u4b-square-mobile.webp"
      alt="nao foi possivel carregar a imagem corretamente"
      class="image-third-content-mobile"
    />
  </div>
</section>
<section class="fourth-content">
  <div class="fourth-content-box">
    <img
      src="/fleet-management.webp"
      alt="nao foi possivel carregar a imagem corretamente"
      class="image-fourth-content-desktop"
    />
    <div class="texts-fourth-content">
      <h1 class="title-fourth-content">
        Make money by renting out your car
      </h1>
      <h2 class="subtitle-fourth-content">
        Connect with thousands of drivers and earn more per week with Uber’s free fleet management tools.
      </h2>
      <div class="button-fourth-content">
        <button class="btn-fourth-content btn-content-initial">
          Get Started
        </button>
      </div>
    </div>
    <img
      src="/fleet-management-mobile.webp"
      alt="nao foi possivel carregar a imagem corretamente"
      class="image-fourth-content-mobile"
    />
  </div>
</section>
