*{
    color: white;
    text-decoration: none;
}
.style-products-dropdown{
    display: flex;
    align-items: center;
    color: #000 !important;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px;
    padding: 0px 0px;
}
.menu-products {
    cursor: pointer;
    float: right;
    overflow: hidden;
    width: 100%;
  
    .show {
      display: flex;
      gap: 40px;
      flex-direction: column;
      padding: 10px 30px;
      border-radius: 0px 0px 12px 12px;
      margin-top: 8px;
    }
  }
  
  .menu-products .dropdown-button {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #f9f9f9;
    padding: 14px 3px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-products_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    max-height: 260px;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-products_content a {
    float: none;
    color: #000 !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-products_content a:hover {
    background-color: #ddd;
  }
  .text-style-dropdown{
    color: #000;
    margin-left: 20px;
  }