<div class="menu-company">
<button class="button-company">
  Company
  <svg width="18" height="18" viewBox="0 0 24 24" fill="none" class="svg-company">
    <path d="M18 8v3.8l-6 4.6-6-4.6V8l6 4.6L18 8Z" fill="currentColor"></path>
  </svg>
</button>
<div id="company-content-dropdown" class="classCompany-content">
    <li class="content-dropdown">About us</li>
    <li class="content-dropdown">Our offerings</li>
    <li class="content-dropdown">How Uber works</li>
    <li class="content-dropdown">Global citizenship</li>
    <li class="content-dropdown">Newsroom</li>
    <li class="content-dropdown">Investor relations</li>
    <li class="content-dropdown">Blog</li>
    <li class="content-dropdown">Carrers</li>
</div>
</div>
