<div id="button-hamburguer">
  <svg width="16" height="16" viewBox="0 0 24 24" fill="none" color="white">
    <path d="M2 6h20v3H2V6Z" fill="white"></path>
    ,
    <path d="M2 15h20v3H2v-3Z" fill="white"></path>
  </svg>
</div>
<div id="conteudo-botao" class="content-button">
  <div id="button-company-mobile"></div>
  <ul class="lista-links" id="links-menu-mobile">
    <li class="force-color content-safety">Safety</li>
    <li class="force-color content-help">Help</li>
  </ul>
  
  <div id="buttonProductsMobile"></div>
  <div id="buttonLanguageMobile"></div>
  </div>
</div>
