
.header-menu {
    background-color: #000;
    display: flex;
    align-items: center;
    height: 64px;
    width: 100%;
    font-size: 15px;
    font-family: "Helvetica Neue", sans-serif;
  }
  
  .menu {
    background-color: #000;
    display: flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
  }
  .menu .menu-itens .icon-menu .text-icon-menu {
    display: flex;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-left: 10px;
    gap: unset;
  }
  
  .menu-itens {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .itens-menu-left {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    margin-left: 50px;
  }
  
  .text-menu-company {
    color: white;
    font-size: 15px;
    text-align: center;
  }
  
  .text-menu-safety {
    color: white;
    font-size: 15px;
    text-align: center;
  }
  
  .text-menu-help {
    color: white;
    font-size: 15px;
    text-align: center;
  }
  
  .itens-menu-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .menu-text-login {
    color: white;
    font-size: 11px;
  }
  
  .menu-cadastre {
    padding: 0 0 0 2vh;
  }
  
  .menu-text-cadastre {
    font-size: 11px;
    padding: 11px 18px;
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    font-weight: 900;
  }