<header class="header-menu">
  <nav class="menu">
    <ul class="menu-itens">
      <div class="itens-menu-left">
        <li class="icon-menu">
          <a class="text-icon-menu" href="./index.html">Uber</a>
        </li>
        <div class="texts-menu-left">
          <div id="dropdown-company">
          </div>
          <li class="menu-safety">
            <a href="">Safety</a>
          </li>
          <li class="menu-help">
            <a href="">Help</a>
          </li>
        </div>
      </div>
      <div class="itens-menu-right">
        <div id="button-language"></div>
        <div id="dropdown-product"></div>
        <button class="menu-login">Log in</button>
        <li class="menu-singup">Sing Up</li>
      </div>
      <div class="itens-menu-mobile">
        <li class="icon-menu">
          <a class="text-icon-menu" href="./index.html">Uber</a>
        </li>
        <div class="menu-mobile-itens-right">
          <li class="login-mobile" id="size-font">Log in</li>
          <li class="singup-mobile" id="size-font">Sing Up</li>
          <i
            class="fa-solid fa-bars fa-lg"
            style="color: #ffffff"
            id="menu-hamburguer"
          ></i>
        </div>
      </div>
    </ul>
  </nav>
</header>
