<header class="header-menu">
  <nav class="menu">
    <ul class="menu-itens">
      <div class="itens-menu-left">
        <li class="icon-menu">
          <a class="text-icon-menu" href="./index.html">Uber</a>
        </li>
        <div class="texts-menu-left">
          <li class="menu-safety">
            <a>Company<i class="fa-solid fa-chevron-down fa-xs"></i></a>
          </li>
        </div>
      </div>
      <div class="itens-menu-mobile">
        <li class="icon-menu">
          <a class="text-icon-menu" href="./index.html">Uber</a>
        </li>
        <ul class="menu-login_cadastre">
          <li class="login-mobile">Log in</li>
          <li class="singup-mobile">Sing Up</li>
        </ul>
      </div>
    </ul>
  </nav>
</header>
