<footer class="footer-space">
  <div class="content-footer">
    <div class="toplist">
      <div class="left-itens">
        <span class="icon-footer"> Uber </span>
        <span class="text-help"> Visit Help Center </span>
      </div>
      <div class="right-itens">
        <span class="adress-uber">
          Uber Technologies Inc. | Uber do Brasil Tecnologia Ltda | Avenida
          Brigadeiro Faria Lima, n.º 949, Pinheiros, São Paulo/SP - CEP
          05.426-200 | CNPJ: 17.895.646/0001-87
        </span>
      </div>
    </div>
  </div>
</footer>
