<footer class="footer-space">
  <div class="content-footer">
    <div class="toplist">
      <div class="left-itens">
        <span class="icon-footer"> Uber </span>
        <span class="text-help"> Visit Help Center </span>
      </div>
      <div class="right-itens">
        <span class="adress-uber">
          Uber Technologies Inc. | Uber do Brasil Tecnologia Ltda | Avenida
          Brigadeiro Faria Lima, n.º 949, Pinheiros, São Paulo/SP - CEP
          05.426-200 | CNPJ: 17.895.646/0001-87
        </span>
      </div>
    </div>
    <div class="footer-link-list-content">
        <div class="list-company">
            <span class="title-company">Company</span>
            <ul class="itens-list-company">
                <li class="links-company">About Us</li>
                <li class="links-company">Our Offerings</li>
                <li class="links-company">Newsroom</li>
                <li class="links-company">Investors</li>
                <li class="links-company">Blog</li>
                <li class="links-company">Carrers</li>
                <li class="links-company">Ai</li>
                <li class="links-company">Gift Cards</li>
            </ul>
        </div>
        <div class="list-products">
            <span class="title-products">Products</span>
            <ul class="itens-list-products">
                <li class="links-products">Ride</li>
                <li class="links-products">Drive</li>
                <li class="links-products">Deliver</li>
                <li class="links-products">Uber for Business</li>
                <li class="links-products">Uber Freight</li>
            </ul>
        </div>
        <div class="list-global-citizenship">
            <span class="title-global-citizenship">Global Citizenship</span>
            <ul class="itens-list-global">
                <li class="links-global">Safety</li>
                <li class="links-global">Diversity and Inclusion</li>
                <li class="links-global">Sustainability</li>
            </ul>
        </div>
        <div class="list-travel">
            <span class="title-travel">Travel</span>
            <ul class="itens-list-travel">
                <li class="links-travel">Reserve</li>
                <li class="links-travel">Airports</li>
                <li class="links-travel">Cities</li>
            </ul>
        </div>
    </div>
  </div>
</footer>
