<div class="space-content">
    <div class="container">
        <div class="container-box">
            <div class="container-itens">
                <div class="top-itens-icons">
                    <div class="icons-toplist-wrapper">
                        <div class="icon-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
                                <path fill="#000" d="M6 16H2v4h4v-4zM11.5 12h-4v8h4v-8zM17 8h-4v12h4V8zM22.5 4h-4v16h4V4z">
                                    <span class="icons-toplist1">Faça <br> viagens ou entregas</span>
                            </svg>
                        </div>
                        <div class="icon-2" id="icon-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
                                <g transform="translate(1 3)">
                                    <path fill="black"
                                        d="M20 6l-1.5-4.6c-.3-.8-1-1.4-1.9-1.4H5.4c-.8 0-1.6.6-1.9 1.4L2 6H0v3h1v9h4v-2h12v2h4V9h1V6h-2zm-3 7H4v-1h4V9H4.2l2-6h9.7l2 6H14v3h4v1h-1z" />
                                </g>
                            </svg>
                            <span class="icons-toplist2">Viajar</span>
                        </div>
                        <div class="icon-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
                                <g fill="black" transform="translate(.5 1)">
                                    <path fill-rule="evenodd"
                                        d="M17.91 1.41l3.17 3.17a4.834 4.834 0 010 6.84L16 16.5 6 6.5l5.08-5.09C12.03.47 13.26 0 14.5 0c1.24 0 2.47.47 3.41 1.41zM12.75 7l2.75 2.75 2.25-2.25L15 4.75 12.75 7z"
                                        clip-rule="evenodd" />
                                    <path d="M1.5 20L0 18.5l7.25-7.25 3.5 3.5L5.5 20h-4z" />
                                </g>
                            </svg>
                            <span class="icons-toplist3">Alugue seus veiculos</span>
                        </div>
                    </div>
                    <div class="line-wrapper">
                        <span class="horizontal-line-subtext1"></span>
                    </div>
                </div>
                <div class="content-box1">
                    <div class="texts-tabpanel1">
                        <h1 class="title-tabpanel1">Assuma o comando e ganhe</h1>
                        <h2 class="subtitle-tabpanel1">
                            Dirija na plataforma com a maior rede de usuarios ativos
                        </h2>
                        <a href="#"><button class="btn-tabpanel1">Cadastre-se para dirigir</button></a>
                        <a class="subtext-button1">
                            Saiba mais sobre como dirigir e fazer entregas
                        </a>
                    </div>
                </div>
                <div class="content-box2">
                    <div class="texts-tabpanel2">
                        <h1 class="title-tabpanel2">
                            Solicite a viagem agora mesmo
                        </h1>
                    </div>
                    <div class="inputs-second-content-hero">
                        <div class="first-input">
                            <input type="text" class="inputs-boxs-hero" placeholder="Enter location" id="first-input" />
                            <button class="svg-input">
                                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" data-baseweb="icon">
                                    <title>search</title>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm5-2a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z"
                                        fill="black"></path>
                                </svg>
                            </button>
                            <div class="svg-input-location-hero">
                                <svg width="2.5em" height="2.5em" viewBox="0 0 24 24" fill="none" tabindex="0"
                                    role="button" class="pe-location-fetch css-bOZeEP">
                                    <title>Navigate right up</title>
                                    <path d="M10.5 13.5.5 11 21 3l-8 20.5-2.5-10Z" fill="black"></path>
                                </svg>
                            </div>
                        </div>
                        <span class="vertical-line"></span>
                        <div class="second-input">
                            <input type="text" class="inputs-boxs-hero" placeholder="Enter destination"
                                id="second-input" />
                            <div class="svg-input">
                                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" data-baseweb="icon">
                                    <title>search</title>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14 10h-4v4h4v-4ZM7 7v10h10V7H7Z"
                                        fill="black"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="buttons-content-box2">
                        <button class="btn-tabpanel2">Solicitar Agora</button>
                        <button class="btn-tabpanel2 inverse">Agendar para mais tarde</button>
                    </div>
                </div>
                <div class="content-box3">
                    <div class="texts-tabpanel3">
                        <h1 class="title-tabpanel3">
                            Ganhe dinheiro alugando seu carro
                        </h1>
                        <h2 class="subtitle-tabpanel3">
                            Conecte-se com milhares de motoristas parceiros e ganhe mais por semana com as ferramentas gratuitas de gerenciamento da uber para locadoras de veículos
                        </h2>
                    </div>
                    <div class="button-tabpanel3">
                        <button class="btn-tabpanel3">
                            Começar
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>